@import "variables.scss";

@font-face{
	font-family:gotham_blackregular;
	src:url(../../../assets/fonts/gotham-black-webfont.woff2) format("woff2"), url(../../../assets/fonts/gotham-black-webfont.woff) format("woff");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:gotham_bookregular;
	src:url(../../../assets/fonts/gotham-book-webfont.woff2) format("woff2"), url(../../../assets/fonts/gotham-book-webfont.woff) format("woff");
	font-weight:400;
	font-style:normal
}

body {
	background: $primary-color;
	font-family: gotham_bookregular;
}

::-webkit-scrollbar {
	background-color: $medium-color;
	width: 10px;
}


::-webkit-scrollbar-thumb {
	background-color: $accent-color;
}

p {
	line-height: 1.5em;	
}

h1, h2 {
	font-family: gotham_blackregular;
}

h2 {
	/*font-size: 7vw;*/
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: inherit;
}

.logo {
	height: 30px;
	width: 35px;
	margin: 10px;
	fill: $bright-color;
	position: fixed;
	z-index: 2;
	cursor: pointer;
}


nav {
	
	width: 55px;
    height: 100%;
    position: fixed;
    background-color: $secondary-color;
    height: 100%;
    cursor: pointer;
    @include specialEase;
    z-index: 1;
	left: 0; 
	top: 0; 

    .button-pane {

    	display: flex;
    	align-items: center;
    	justify-content: center;
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    width: 55px;

    	.burger-container {

			/*temp start*/
			    /*width: 55px;*/
	    /*right: 0px;*/
	    /*position: absolute;*/
	    /*temp end*/



	    	/*flex-basis to take up full witdh and avoid collision with logo*/
	    	flex-basis: 100%;
	    	height: 40px;
	    	width: 40px;
	    	display: flex;
		    align-items: center;
		    justify-content: center;

	    	.burger-menu {
			    
			    width: 29px;
			    height: 19px;
			    position: relative;
			    @include easeOut;

	    		div {
		    		background-color: $bright-color;
		    		width: 100%;
	    			height: 1px;
	    			position: absolute;
					left: 0;
		    		/*display: block;*/
		    		/*margin: 0 0 5px 0;*/
			    	@include easeOut;

					&:nth-child(1) {
						top: 0px;
					}

					&:nth-child(2), &:nth-child(3) {
						top: 9px;
					}

					&:nth-child(4) {
						top: 18px;
					}
		    	}

		    	&.menu-open {
					/*transform: rotate(90deg);*/

				      div {

					      &:nth-child(2) {
					        transform: rotate(-45deg);
					      }

					      &:nth-child(3) {
							transform: rotate(45deg);
					      }

					      &:nth-child(1), &:nth-child(4) {
					        width: 0;
					        left: 50%;
					      }

				      }
		    	}

	    	}
	    	
	    }
    }

    .left-menu {
	
		display: -ms-flexbox;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    position: absolute;
	    left: 0;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    transition: all .5s linear;
	    opacity: 0;
	    overflow: hidden;


	    transition: all .5s linear;
	    transition-property: all;
	    transition-duration: 0.5s;
	    transition-timing-function: linear;
	    transition-delay: 0s;

	    &.menu-open {
	    	width: 100%;
    		opacity: 1;
    		transition-delay: .5s;
	    }

	    ul {
	    	li {
				font-size: 1.5rem;
				font-family: gotham_blackregular;
				font-weight: 100;
				line-height: 2.5rem;
				color: $bright-color;
	    	}
	    }
	    
    }

    &.menu-open {
    	width: 100%;
    	@include specialEase;
    }

    
}

#content {

	padding-left: 55px;

	.slide {
		min-height: 100vh;
		padding: 35px 20px;
		box-sizing: border-box;

		.slide-header {
			font-weight: 600;
		}

		.slide-content {
			
			text-align: center;
			width: 100%;
			max-width: 600px;
			margin: auto;

			.zeppelin {
				/*background: url(../../../assets/zeppeliner.svg);*/
				mask: url(../../../assets/zeppeliner.svg) no-repeat;
				background-color: $bright-color;
				width: 100%;
				max-width: 300px;
				height: 300px;
				fill: green;
				margin: auto;
			}

			.slide-maintitle {
				font-size: 7vw;
				margin-bottom: 20px;
			}

			.slide-subtitle {
				margin-bottom: 20px;
			}

		}

		.slide-footer {
			text-align: center;
			margin-top: 20px;

			a{
				font-weight: 600;
			}
		}
	}

	#digital-transformation-introslide {
		// background-color: $primary-color;
		color: $bright-color;
		display: flex;
		flex-direction: column;

		.slide {
			/*flex: 1 0 auto;*/ 
		}
	}

	#digital-transformation-initiatives {
		background-color: $bright-color;
		color: $dark-color;

		.initiatives {

			/*background-color: blue;*/
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			/*flex-wrap: wrap;*/
			/*align-items: flex-start;*/

			.consulting, .execution {
				/*flex: 1;*/
				max-width: 100%;

				h3 {
					margin-bottom: 20px;
				}
			}

		}
	}

	#digital-transformation-contactform {
		background-color: $accent-color;
		color: $bright-color;

		.contactform {
			text-align: center;
			width: 100%;
			max-width: 500px;
			margin: auto;
			/*margin-bottom: 50px;*/

			/*background-color: green;*/
			
			#user-data {
				
				margin-top: 30px;

				input[type="text"], input[type="email"] {
					border-style: solid;
					border: 0px;
					border-bottom: 1px solid $bright-color;
					background-color: unset;
					color: #F29892;
					font-size: 1.1em;
					padding-bottom: 8px;
					padding-top: 8px;
					margin-bottom: 5px;
					margin-top: 5px;
					width: 240px;

					&::placeholder {
						color: $bright-color;
					}

					&:focus {
						outline: none;
					}
				}

				.input-box {
					overflow: hidden;
				}

				#name, #phone, #email, #zipcode, #city {
					width: 100%;
				}

				/*#phone, #zipcode {
					float: left;
				}

				#email, #city {
					float: right;
				}*/

			}

			

			button {
				display: block;
				margin: auto;
				background-color: $bright-color;
				padding: 20px 40px;
				border-radius: 5px;
				border: unset;
				color: $accent-color;
				font-weight: 600;
				margin-top: 50px;
				cursor: pointer;
			}
		}
	}

	.prize-box {
		
		margin-top: 50px;

		.prize {
			background-image: url(../../../assets/prize.svg);
			/*mask: url(../../../assets/prize.svg);*/
			/*background-color: black;*/
			background-repeat: no-repeat;
			display: inline-block;
			margin: auto;
			width: 58px;
			height: 58px;
		}
	}
}
