@import "variables.scss";
/*
	TABLET
 */

@media screen and (min-width: $break-small) {

	h2 {
		/*font-size: 7vw;*/
		font-size: 2em;
	}

	#content {

		.slide {

			padding: 35px 55px;

			.slide-content {

				.slide-subtitle {
					margin-bottom: 30px;
				}

				.slide-maintitle {
					font-size: 3em;
				}

			}

		}

		#digital-transformation-initiatives {

			.initiatives {
				flex-direction: row;

				.consulting, .execution {
					width: 40%;
				}
			}

			.slide-content {

				h2 {
					margin-top: 20px;
					margin-bottom: 20px;
				}

			}

		}

		#digital-transformation-contactform {

			.contactform {

				#user-data {
					margin-top: 100px;

					#phone, #email, #zipcode, #city {
						width: 48%;
					}

					#phone, #zipcode {
						float: left;
					}

					#email, #city {
						float: right;
					}
				}

			}

			h2 {
				margin-top: 50px;
			}

		}

		
		
	}

}

