@import "variables.scss";
/*
	TABLET
 */

@media screen and (min-width: $break-small) {

	#content #digital-transformation-initiatives .initiatives {
		flex-direction: row;
	}

	#content #digital-transformation-initiatives .initiatives .consulting, #content #digital-transformation-initiatives .initiatives .execution {
		width: 35%;
	}

	#content .slide .slide-content .slide-maintitle {
		font-size: 3em;
	}

	#content .slide {
		padding: 35px 55px;
	}

	#content #digital-transformation-contactform .contactform #user-data #phone, #content #digital-transformation-contactform .contactform #user-data #zipcode {
		float: left;
	}
	
	#content #digital-transformation-contactform .contactform #user-data #email, #content #digital-transformation-contactform .contactform #user-data #city {
		float: right;
	}

	h2 {
		/*font-size: 7vw;*/
		font-size: 2em;
	}

	#content #digital-transformation-contactform .contactform #user-data {
	    margin-top: 100px;
	}

	#content #digital-transformation-contactform .contactform #user-data #phone, #content #digital-transformation-contactform .contactform #user-data #email, #content #digital-transformation-contactform .contactform #user-data #zipcode, #content #digital-transformation-contactform .contactform #user-data #city {
		width: 48%;
	}

	#digital-transformation-contactform {
		.contactform {
			h2 {
				margin-top: 50px;
			}
		}
	}


}

