/**
 * COLORS
 */

$primary-color: #2A2A2C;
$secondary-color: #1B1B1D;
$bright-color: #FFFFFF;
$medium-color: #D8D8D8;
$dark-color: #000000;
$accent-color: #EB5B51;

/**
 * BREAK POINTS FOR MEDIA QUERIES
 */

$break-small: 535px;
$break-medium: 768px;

/**
 * MIXINS
 */

@mixin easeOut {
	transition: .5s ease-in-out;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s;
}

@mixin specialEase {
	transition: all .5s cubic-bezier(.895,.03,.685,.22);
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
	transition-delay: 0s;
}

@mixin leftMenuTransition {
	transition: all .5s linear;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: linear;
	transition-delay: 0s;
}

/**
 * FONTS
 */

@font-face{
	font-family:gotham_blackregular;
	src:url(../../../assets/fonts/gotham-black-webfont.woff2) format("woff2"), url(../../../assets/fonts/gotham-black-webfont.woff) format("woff");
	font-weight:400;
	font-style:normal
}

@font-face{
	font-family:gotham_bookregular;
	src:url(../../../assets/fonts/gotham-book-webfont.woff2) format("woff2"), url(../../../assets/fonts/gotham-book-webfont.woff) format("woff");
	font-weight:400;
	font-style:normal
}